[program:jungo]
command=/opt/app_env/bin/uwsgi --enable-threads --uid=1011 --paste config:/etc/app/jungo/production.ini --socket :3031 -H /opt/app_env
autostart=true
autorestart=true
stderr_logfile=/var/log/jungo.err.log
stdout_logfile=/var/log/jungo.out.log
